/shelf/
.idea
__pycache__/

/journals_fulldata.joblib
/journals_metadata.joblib

/Bible_files/*BSV*.txt

/query_jsons

# NOTE: results of previous run + results of Zj
/PUBLIC_RESULTS_previous
/results